export namespace <%= messageProtoModel.message.messageName %> {
  export interface I<%= messageProtoModel.message.messageName %> {
  <%_ messageProtoModel.message.fields.forEach(function(value) { -%>
    <%_ if (value.isMapField) { -%>
    <%- value.camelCaseName %>: { [k: <%- value.mapFieldInfo.keyTypeName %><%_ if (value.mapFieldInfo.keyType === messageProtoModel.MESSAGE_TYPE) { -%>.I<%= value.mapFieldInfo.keyTypeName %><%_ } -%>]: <%- value.mapFieldInfo.valueTypeName -%><%_ if (value.mapFieldInfo.valueType === messageProtoModel.MESSAGE_TYPE) { -%>.I<%= value.mapFieldInfo.valueTypeName %><%_ } -%> | null },
    <%_ return; -%>
    <%_ } -%>
    <%_ if(value.isRepeatField && value.type === messageProtoModel.BYTES_TYPE) { -%>
    <%_ value.camelCaseName %>: Array<Uint8Array | string>,
    <%_ return; -%>
    <%_ } -%>
    <%_ if (value.isRepeatField) { -%>
    <%_ if (value.type === messageProtoModel.MESSAGE_TYPE) { -%>
    <%- value.camelCaseName %>: Array<<%- value.exportType -%>.I<%= value.exportType.split(".").pop() %>>,
    <%_ return; -%>
    <%_ } -%>
    <%- value.camelCaseName %>: Array<<%- value.exportType -%>>,
    <%_ return; -%>
    <%_ } -%>
    <%_ if (value.type == messageProtoModel.BYTES_TYPE) { -%>
    <%- value.camelCaseName %>: Uint8Array | string,
    <%_ return; -%>
    <%_ } -%>
    <%_ if (value.type == messageProtoModel.MESSAGE_TYPE) { -%>
    <%- value.camelCaseName %>: <%- value.fieldObjectType -%>.I<%- value.fieldObjectType -%>,
    <%_ return; -%>
    <%_ } -%>
    <%- value.camelCaseName %>: <%- value.fieldObjectType -%>,
  <%_ }); -%>
  }

  <%_ if (messageProtoModel.message.nestedTypes) { -%>
  <%_ messageProtoModel.message.nestedTypes.forEach(function(value) { -%>
  <%- include('message.tmpl', { messageProtoModel: value }) %>
  <%_ }) -%>
  <%_ } -%>
  <%_ if (messageProtoModel.message.formattedEnumListStr) { -%>
  <%_ messageProtoModel.message.formattedEnumListStr.forEach(function(value) { -%>
  <%- include('enum.tmpl', {enumModel: value}) %>
  <%_ }) -%>
  <%_ } -%>
  <%_ if (messageProtoModel.message.formattedOneofListStr) { -%>
  <% messageProtoModel.message.formattedOneofListStr.forEach(function(value) { -%>
  <%_ }) -%>
  <%_ } -%>
  <%_ if (messageProtoModel.message.formattedExtListStr) { -%>
  <%_ messageProtoModel.message.formattedExtListStr.forEach(function(value) { -%>
  <%_ }) -%>
  <%_ } -%>
}
