// package: <%= packageName %>
// file: <%= protoFileName %>

/* tslint:disable */
/* eslint-disable */
<% imports.forEach(function(item) { %> <%- item %> <% }); %>

<%_ messages.forEach(function(item) { -%>
<%= include('message.tmpl', { messageProtoModel: item }) %>
<%_ }); -%>
